# ==============================
# Environment Files
# ==============================
.env
*.local

# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/
build/
wheels/

# Virtual Environments
.venv/

# ==============================
# Machine Learning / Models
# ==============================
*.pt
*.pth
*.onnx
*.mp3

# ==============================
# Node / Frontend
# ==============================
node_modules/
dist/
dist-ssr/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# ==============================
# IDE / OS
# ==============================
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?