fastapi
uvicorn[standard]
python-dotenv
stream-chat
getstream
deepgram-sdk
google-generativeai
ultralytics
aiohttp
python-multipart
websockets
aiortc>=1.13.0
opencv-python-headless
numpy
pillow
colorlog
pyee
pyjwt
requests
aiofile
dataclasses-json
httpx
marshmallow
protobuf
pydantic-settings
python-dateutil
onnxruntime
vision-agents-plugins-deepgram
vision-agents-plugins-elevenlabs
vision-agents-plugins-anthropic
vision-agents-plugins-cartesia
stratz
mcp
daily-python
vision-agents